body
{
    background-color: bisque;
}

.Tuşlar
{
    text-align: center;
    margin-top: 40px;
    padding: 15px;
}

button
{
    border-radius: 30px;
    border-color: rgb(93, 4, 4);
    background-color: rgb(233, 236, 68);
    margin-right: 10px;
    padding: 10px;
}

.sekmeler
{
    list-style-type: none;
    display: inline; 
    margin: 10px;
    padding: 100px;
}

.TuşLinki
{
    text-decoration: line;
    color: rgb(96, 3, 3);
}


#baslik
{ 
    color: rgb(221, 124, 12);
    font-size: 3em;
    font-family: fantasy;
    text-align: center;
    margin-top: 50px;
}

#paragraf 
{
    color:rgb(117, 65, 65); 
    font-size: 1.3em;  
    font-weight: 900;
    font-family: fantasy;  
    margin-left:  140px; 
    margin-right: 140px;
}

#Yazı1
{
    float: left;
    margin-top: 130px;
    margin-left: 160px;
}

#Beşiktaş
{
    margin-left: 130px;
    width:300px;
    height: 300px;
}

#Yazı2
{
    float: right;
    margin-top: 150px;
    margin-right: 140px;
}

#Barça
{
    margin-left: 180px;
    width: 300px;
    height: 300px;
}

#Yazı3
{
    text-align: center;
}

#Haikyuu
{
    margin-left: 50px;
    width: 1000px;
    height: 500px;
}

#Yazı4
{
    float: left;
    margin-top: 130px;
}

#Basketbol
{
    margin-left: 130px;
    width:300px;
    height: 300px;
}

.Link
{
    text-decoration: line;
    color: rgb(0, 102, 255);
}

.form
{
    margin-left: 8px;
    margin-top: 30px;
}

.formOgesi
{
    display: block;
    margin-top: 5px;
}

#adsoyad
{

    width: 30%;
}

#eposta
{

    width: 30%;
}

.buton
{
    margin-top: 20px;
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
}

#mesaj
{
    width: 35%;
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    resize: none;
}