body
{
    background-color:rgb(176, 255, 225);
}

.Tuşlar
{
    text-align: center;
    margin-top: 40px;
    padding: 15px;
}

button
{
    border-radius: 30px;
    border-color: rgb(93, 4, 4);
    background-color: rgb(233, 236, 68);
    margin-right: 10px;
    padding: 10px;
}

.sekmeler
{
    list-style-type: none;
    display: inline; 
    margin: 10px;
    padding: 100px;
}

.TuşLinki
{
    text-decoration: line;
    color: rgb(96, 3, 3);
}

#baslik
{ 
    color: rgb(221, 124, 12);
    font-size: 3em;
    font-family: fantasy;
    text-align: center;
    margin-top: 50px;
}

#paragraf 
{
    color:rgb(117, 65, 65); 
    font-size: 1.3em;  
    font-weight: 900;
    font-family: fantasy;  
    margin-left:  140px; 
    margin-right: 140px;
}

.Link
{
    text-decoration: line;
    color: rgb(0, 102, 255);
}

.slayt
{
    position: relative;
    width: 1000px;
    height: 500px;
    overflow: hidden;
}

.kaydırıcı
{
    position: absolute;
    bottom: 150px;
    left: 450px;
    width: 500px;
    height: 240px;
    opacity: 0;
    transition: opacity .4s linear;
}

.baslangıc
{
    opacity: 1;
    color: #eee;
}

.kaydırıcı:nth-child(1) { background: url('Ballıca.jpg') no-repeat center/cover}
.kaydırıcı:nth-child(2) { background: url('Talazan.jpg') no-repeat center/cover}
.kaydırıcı:nth-child(3) { background: url('Yayla.jpg') no-repeat center/cover}
.kaydırıcı:nth-child(4) { background: url('Sarma.jpg') no-repeat center/cover}

.tus
{
    position: absolute;
    bottom: -780px;
    left: 640px;
    cursor: default;
}

.tus button 
{
    font-size: 50px;
    background-color: rgb(149, 0, 255);
    color: #eee;
    border-width: 7px;
    border-color: black;
}
